/* CaskaydiaMonoNerdFont */
@font-face {
  font-family: 'CaskaydiaMonoNerdFont Regular';
  src: url('CascadiaMono/CaskaydiaMonoNerdFont-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFont Bold';
  src: url('CascadiaMono/CaskaydiaMonoNerdFont-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFont Light';
  src: url('CascadiaMono/CaskaydiaMonoNerdFont-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* CaskaydiaMonoNerdFontMono */
@font-face {
  font-family: 'CaskaydiaMonoNerdFontMono Regular';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontMono-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFontMono Bold';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontMono-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFontMono Light';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontMono-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* CaskaydiaMonoNerdFontPropo */
@font-face {
  font-family: 'CaskaydiaMonoNerdFontPropo Regular';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontPropo-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFontPropo Bold';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontPropo-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CaskaydiaMonoNerdFontPropo Light';
  src: url('CascadiaMono/CaskaydiaMonoNerdFontPropo-Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}