/* CaskaydiaCoveNerdFont */
@font-face {
  font-family: 'CaskaydiaCoveNerdFont Regular';
  src: url('CascadiaMono/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFont Bold';
  src: url('CascadiaMono/CaskaydiaCoveNerdFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFont Light';
  src: url('CascadiaMono/CaskaydiaCoveNerdFont-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* CaskaydiaCoveNerdFontMono */
@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono Regular';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono Bold';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFontMono Light';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* CaskaydiaCoveNerdFontPropo */
@font-face {
  font-family: 'CaskaydiaCoveNerdFontPropo Regular';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontPropo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFontPropo Bold';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontPropo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CaskaydiaCoveNerdFontPropo Light';
  src: url('CascadiaMono/CaskaydiaCoveNerdFontPropo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}